# Supabase Configuration
# Obtenha essas credenciais em: https://supabase.com/dashboard/project/_/settings/api

VITE_SUPABASE_URL=https://gizdpqlfwnbquccseovh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_k0-rlWllOOwxkLeufMRprA_LBYE7gbz
